@import "tailwindcss";

body{
  background-color: black;
}

@keyframes cyanGlow {
  0% {
    box-shadow: 15px 0px 25px rgba(21,94,117,0.7);   /* right */
  }
  25% {
    box-shadow: 0px 15px 25px rgba(21,94,117,0.7);   /* bottom */
  }
  50% {
    box-shadow: -15px 0px 25px rgba(21,94,117,0.7);  /* left */
  }
  75% {
    box-shadow: 0px -15px 25px rgba(21,94,117,0.7);  /* top */
  }
  100% {
    box-shadow: 15px 0px 25px rgba(21,94,117,0.7);   /* back to right */
  }
}

.cyan-shadow {
  animation: cyanGlow 4s linear infinite;
}